@model IEnumerable<EmployeeDemo.Models.Employee>

@{ 
    Layout = "_Layout";
    ViewBag.Title = "All Employees";
}

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var emp in Model)
            {
                <tr>
                    <td>@emp.Eid</td>
                    <td>@emp.Ename</td>
                    <td>@emp.Email</td>
                    <td>@emp.Department</td>
                    <td><a href="/Employee/UpdateEmployee/@emp.Eid">Update Employee</a></td>
                    <td><a href="/Employee/DeleteEmployee/@emp.Eid">Delete Employee</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Home/Index">Go Back</a>
    <a href="/Employee/CreateEmployee">Create Employee</a>



