@model EmployeeDemo.Models.Employee
<!DOCTYPE html>

@{ 
    Layout = "_Layout";
    ViewBag.Title = "Create Employee";
}
    <form asp-action="createEmployee" method="post">
        <div>
            <label asp-for="Ename"></label>
            <input asp-for="Ename" />
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Department"></label>
            <select asp-for="Department"
                    asp-items="Html.GetEnumSelectList<EmployeeDemo.Models.Dept>()">
                <option value="">Please Select</option>
            </select>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <button type="submit">Create Employee</button>
        </div>
    </form>

