@inject EmployeeDemo.Services.IFormatNumber formatNumber


@{ 
    ViewBag.Title = "Index";
    Layout = "_Layout";
}



    <p>There are @formatNumber.GetFormattedNumber(323232) employees in the company! </p>


