@inject EmployeeDemo.Services.IFormatNumber formatNumber


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>
<body>
    <h1>Employee Data</h1>
    <nav>
        <p style="color:aliceblue";>Working Link: <a href="/Employee/Index">Employees</a></p>
        <p style="color:aliceblue";>Broken Link: @Html.ActionLink("Employees", "Index", "Employee")</p>
       

    </nav>

    <p>There are @formatNumber.GetFormattedNumber(323232) employees in the company! </p>

    <nav>
        <div>
            <a asp-action="About" asp-controller="Home">About Us</a>
        </div>
    </nav>
</body>
</html>
