


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
</head>
<body>
    <h1>Employee Data</h1>
    <nav>

        <a href="/Employee/Index">Employees</a>


        @Html.ActionLink( "Employees","Index","Employee")

    </nav>
</body>
</html>
